body {
  background-color: #ecf0f3;
}

table {
  margin: auto;
 background: #ecf0f3;;
  width: 295px;
  max-width: 295px;
  height: 350px;
  text-align: center;
  border-radius: 30px;
  margin-top: 10rem;
  padding-right: 10px;
  box-shadow: 12px 12px 20px #cbced1, -12px -12px 20px white;
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #000000;
  background-color:#f60091;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

input:hover {
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #b0d2cf;
}

input:active {
  top: 4px;
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
}

#display {
  width: 265px;
  max-width: 270px;
  color: white;
  font-size: 26px;
  text-align: right;
  background-color: #000;
  float: left;
}

#display:hover {
  width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #0c0236;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

#display:active {
  top: 5px;
  width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcbd95;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

.operator {
  background-color: #cee9ea;
  position: relative;
}

.operator:hover {
  background-color: #cee9ea;
  box-shadow: 0 4px #b0d2cf;
}

.operator:active {
  top: 4px;
  box-shadow: none;
}

#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #ff9fa8;
}

#clear:hover {
  float: left;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: 0 4px #CC7F86;
}

#clear:active {
  float: left;
  top: 4px;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: none;
}
